doctype html
html
    head
        title= title
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    body
        div(class='container')
            h1= title

            form(id='whatsapp-form')
                div(class="mb-3")
                    label(for="person" class="form-label") Person
                    input(name="person" type="text" class="form-control" id="person" aria-describedby="personHelp")

                div(class="mb-3")
                    label(for="time" class="form-label") Time
                    input(name="time" type="text" class="form-control" id="time" aria-describedby="timeHelp")
                    div(id="emailHelp" class="form-text") Leave empty to send a message instantly or specify a date and time in the format: "DD:MM HH:MM"

                div(class="mb-3")
                    label(for="text" class="form-label") Text
                    textarea(name="text" class="form-control" id="text" rows=3 aria-describedby="textHelp")

                div(class='row justify-content-between')
                    div(class='col-12 col-md-3')
                        button(class='btn btn-primary disabled' type='button' id="submit-btn" title="Schedule message" onclick='onScheduleMessageButtonClick()') Schedule message
                    div(class='col-12 col-md-3 text-end')
                        button(class='btn btn-info' type='button' id="init-client-btn" title="Start WhatsApp Bot" onclick='onStartWhatsAppBotButtonClick()') Start WhatsApp Bot

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')

        script.
          $.get('api/whatsapp-bot/is-client-running', {}, ({clientRunning}) => {
            if (!clientRunning) return

            $('#submit-btn').removeClass('disabled')
            $('#init-client-btn').css('display', 'none')
          })

          function onStartWhatsAppBotButtonClick() {
            $('#init-client-btn').addClass('disabled')

            $.post('api/whatsapp-bot/init', {}, () => {
              $('#submit-btn').removeClass('disabled')
              $('#init-client-btn').css('display', 'none')
            })
          }

          function onScheduleMessageButtonClick() {
            const form = $('#whatsapp-form')
            $.post('api/whatsapp-bot/send-message', form.serialize())
          }
